@import url('/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  @apply font-body overflow-x-hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*.swiper .swiper-button-prev, .swiper .swiper-button-next {
  @apply text-white !important;
}*/


.swiper .swiper-pagination-progressbar-fill {
  @apply bg-n3blue !important;
}

.swiper-slide {
  height: auto !important;
  display: flex;
}

.swiper-button-prev,
.swiper-button-next {
  @apply text-n3blue hidden !important;
}

.swiper-pagination-bullet-active {
  @apply bg-n3blue !important;
}

.dark .swiper-pagination-bullet {
  @apply bg-white !important;
}

@media (min-width: 1024px) {
  .swiper {
    @apply px-2 !important;
    position: unset !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    @apply block text-n3blue mt-8 !important;
  }
}


@keyframes scroll {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.animate {
  animation: scroll 25s linear infinite;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}